<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunction202.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f2d3b1eb-4201-445e-8ca3-94ea5ead6bb2/resourcegroups/rg-acme/providers/Microsoft.Web/sites/AzureFunction202</ResourceId>
    <UserName>$AzureFunction202</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunction202.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>